<div class="container">
	<div class="portalNav">
		<ul>
			<li><a href="/portal/">portal home</a></li>
			<li><a href="/portal/settings">settings</a></li>
			<li><a href="/portal/tree">tree</a></li>
			<li><a href="/portal/rsvplist">guestlist</a></li>
			<li><a href="/portal/site">view site</a></li>
		</ul>
	</div>
	<div class="page-header">
	  <h1>Welcome back, <small><%= setting.brideFirst %> &amp; <%= setting.groomFirst %></small></h1>
	</div>
	<div class="row">
		<div class="col-md-6 portalTreeContainer"> <!--hide on small? -->
			<h2>Create and update your family trees <small>according to RSVPs - help identify where people connect to each other.</small> <a href="/portal/tree">View</a> </h2>
			
			<img src="../images/transparenttree.png" class="treePortal">
		</div>
		<div class="col-md-6 rsvpPortal">
			<h2>Recent RSVPs</h2>
			<a href="/portal/rsvplist">view all</a>
			<ul class="list-group">
			<% guests.forEach(function(guest){ %>
			  <li class="list-group-item">
			    <span class="badge"><%= guest.count %>   </span>
			    <%= guest.firstName %> <%= guest.lastName %>
			  </li>
			  <% }) %>
			</ul>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-md-12">
			<h2>Something here, more links, disclaimer...</h2>
		</div>
	</div> -->
	






</div><!--end container -->
