<div class="container">
	<div class="portalNav">
		<ul>
			<li><a href="/portal/">portal home</a></li>
			<li><a href="/portal/settings">settings</a></li>
			<li><a href="/portal/tree">tree</a></li>
			<li><a href="/portal/rsvplist">guestlist</a></li>
			<li><a href="/portal/site">view site</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="page-header">
	  			<h1>RSVPs<small> : see who has rsvp'd here, feel free to sort or adjust your connections so that your family and network trees look right</small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<!-- convert thse to be within th 
			<button type="button" class="btn btn-default" id="alphaSort">Last Name: A - Z</button>
			<button type="button" class="btn btn-default">Last Name: Z - A</button>
			<button type="button" class="btn btn-default">Date RSVP'd</button>
			<button type="button" class="btn btn-default">Attending first</button>
			<button type="button" class="btn btn-default">Declined first</button> -->
			<table id="rsvpTable" class="table table-hover tablesorter">	   
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>First Name</th>
						<th>Plus One?</th>
						<th>Bringing Kids</th>
						<th>Count</th>
						<th>RSVP</th>
						<th>notes</th>
						<th>Tree</th>
					</tr>
				</thead>
				<tbody>
				<% guests.forEach(function(guest){ %>
					<tr>
						<td><%= guest.id %></td>
						<td><%= guest.firstName %> </td>
						<td><%= guest.lastName %></td>
						<td><%= guest.plusOneFirstName%> <%=guest.plusOnelastName %></td>
						<td><%= guest.childName %></td>
						<td><%= guest.count %></td>
						<td><%= guest.rsvp %></td>
						<td><%= guest.diet %></td>
						<td><button type="button" class="btn btn-default">Add To Tree</button></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-3">
			<h2>RSVP Stats</h2>
			<ul class="list-group rsvpStats">
			  <li class="list-group-item">Total Responses: 
			  		<%= guests.length %>
			  		</li>
			  <li class="list-group-item">Total Attending: 
			  <% if (rsvpCount) { %>
			  	<%= rsvpCount %> 
			  <% } %>
			  </li>
			  <li class="list-group-item">Total Children:
			  <%= childCount %> 
			  </li>
			  <li class="list-group-item">Total Declined:
			  <%= declineCount %> </li>
			</ul>
			<button type="button" class="btn submitButton">Add A Guest</button>
		</div>
	</div>

</div>

